:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #247add;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}



/*CSS Suporte*/
.chat-container {
  width: 100%;
  max-width: 450px;
  margin: auto;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 150px;
}

.chat-box {
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 15px;
  overflow-y: auto;
  background: white;
}

.mensagens {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.msg {
  max-width: 70%;
  padding: 10px 14px;
  border-radius: 14px;
  font-size: 15px;
}

.msg.usuario {
  align-self: flex-end;
  background-color: #007bff;
  color: white;
  border-bottom-right-radius: 4px;
}

.msg.suporte {
  align-self: flex-start;
  background-color: #e9ecef;
  color: black;
  border-bottom-left-radius: 4px;
}

.input-area {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.input-area input {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.input-area button {
  padding: 12px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-weight: 600;
}