:root {
  --background: #ebf0fa;
  --foreground: #171717;
  --primary-color: #247add;
  --secondary-color: #0033a0; /* Azul GM */
  --background-color: rgb(244, 249, 255);
  --user-bubble: #e8e8e8;
  --bot-bubble: var(--primary-color);
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container-botao {
  display: flex;
  margin-right: 60%;
}

.user-anim {
  opacity: 0;
  transform: scale(0.95) translateY(8px);
  filter: blur(6px);
  animation: userEnter 1.2s ease forwards;
}

@keyframes userEnter {
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
    filter: blur(0);
  }
}

